---
layout: default_2_black
---

<div class="main-content">
    <div class="container" id="about-page">
      
      <div class="row flex-column-reverse flex-md-row justify-content-md-between mb-5" id="about-intro">
        <div class="col-12 col-lg-8 p-3 p-md-5">
          <div class="text-justify text-lg-left"> 
            <h4 class="mt-2 mb-4">Artist statement</h4>
            <p class="about-info-header">
              <strong>The motto "Amaze, Delight, and Inspire" guides every aspect of my work.</strong>
            </p>
            <p>
              As a designer-artist, I craft collectible, one-of-a-kind lamps that bring magic and individuality to exclusive interiors. <br>
              These creations are more than functional objects; they are works of art, designed to captivate both the imagination and the intellect. <br>
              Inspired by the fusion of poetry and technology, I aim to evoke reflection, spark curiosity, and leave a lasting impression. <br>
            </p>
            <p>
              Through the thoughtful interplay of shapes, materials, and innovation, I strive to create timeless pieces that transform spaces into extraordinary environments. <br>
              These lamps are meant to be cherished not only for their functionality but also for their ability to provoke thought and stir emotion. <br>
            </p>
            <p>
              With a background in both art and engineering, I embrace the belief that art and functionality are not opposing forces but complementary ones. <br>
              My designs bring these elements together, creating unique, purposeful objects that resonate deeply with those who encounter them.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <img src="/assets/images/about/david_salamon.jpg"  class="img-fluid" alt="David Salamon, designer-artist">
        </div>
      </div>

      <h4 class="pt-4 mb-2">Commissioned by</h4>
      <div class="container">
        {% include commissions.html %}
      </div>

      <h4 class="pt-4 mb-2">As Seen In </h4>
      <div class="container">
        {% include as_seen_in.html %}
      </div>
      
      <h4 class="pt-3 mb-3">Biography</h4>
      <section class="section">
        <div class="p-3 p-md-5" id="about-biography">
          <h4>Professional Affiliations</h4>
          <p>
            ADORNO – Contemporary Collectible Design & Functional Art Gallery<small>&nbsp;(representation)</small>
          </p>
          <p>
            Studio of Young Designers Association<small>&nbsp;(member)</small>
          </p>
          <p>
            Hungarian Academy of Arts<small>&nbsp;(scholarship '25–'28)</small>
          </p>

          <h4>Awards and Recognition</h4>
          <p>
            <strong class="mr-2">2025</strong>EDIDA Award by ELLE Decoration<small>&nbsp;(nominee)</small>
          </p>
          <p>
            <strong class="mr-2">2025</strong>MOME Creative Business Program<small>&nbsp;(art incubator)</small>
          </p>
          <p>
            <strong class="mr-2">2025</strong>Cultural Radiance Project, Berlin<small>&nbsp;(light art residency)</small>
          </p>
          <p>
            <strong class="mr-2">2024</strong>Master of Light Award <small>&nbsp;(awardee)</small> / 'A Fény Mestere 2024' <small>&nbsp;(különdíj)</small>
          </p>
          <p>
            <strong class="mr-2">2024</strong>HFDA Talents 2.0 Program<small>&nbsp;(selected participant)</small>
          </p>
          <p>
            <strong class="mr-2">2023</strong>Zagreb Design Week Award<small>&nbsp;(finalist)</small>
          </p>
          <p>
            <strong class="mr-2">2023</strong>'Best of 2023' Award, Design Institute, Moholy-Nagy University of Art and Design<small>&nbsp;(awardee)</small>
          </p>
          
          <h4>Group Exhibitions</h4>
          <p>
            <strong class="mr-2">2026</strong>LEVEL UP ↑ art&design<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2025</strong>360 Design Budapest<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2024</strong>9th Art-Craft-Design Auction exhibition<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2024</strong>Berlin Design Week / "Inner Space"<small> – Berlin, Germany</small>
          </p>
          <p>
            <strong class="mr-2">2024</strong>HOMEDesign<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2024</strong>Stockholm Furniture & Light Fair<small> – Stockholm, Sweden</small>
          </p>
        
          <p>
            <strong class="mr-2">2023</strong>Zagreb Design Week, Award finalists exhibition<small> – Zagreb, Croatia</small>
          </p>
          <p>
            <strong class="mr-2">2023</strong>S/ALON Budapest interior design exhibition<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2023</strong>360 Design Budapest<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2023</strong>MOME Masters Exhibition<small> – Budapest, Hungary</small>
          </p>
          
          <h4>Commissions</h4>
          <!--
          <p>
            <strong class="mr-2">2025</strong>Sas Gardens: Public Art Installation<small> – Budapest, Hungary</small>
          </p>
          -->
          <p>
            <strong class="mr-2">2026</strong>Architectural Scale Ligthing Sculptures in a Private Villa<small> – Private Commission</small>
          </p>
          <p>
            <strong class="mr-2">2025</strong>Six Architectural Scale Ligths in Hospitality for Paradigma Ariadné (with LumoConcept)<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2024</strong>Onyx: Kinetic Art Installation and Lightscape (with LumoConcept and EJTECH)<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2024</strong>House of Music: Interactive Installation<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2023</strong>City of Debrecen: Public Art + Interactive Installations<small> – Debrecen, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2023</strong>IT University of Copenhagen: Interactive Installation<small> – Copenhagen, Denmark</small>
          </p>
          <p>
            <strong class="mr-2">2023</strong>Smile Foundation Award Sculpture: Collectible Art Concept<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2022</strong>Museum of Transport: Interactive Installations<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2022</strong>Bosch: Kinetic Art Installation Concept<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2022</strong>Porsche Hungaria: Kinetic Art Installation Concept<small> – Budapest, Hungary</small>
          </p>
          <p>
            <strong class="mr-2">2021</strong>Bosch: Outdoor Installation Concept<small> – Budapest, Hungary</small>
          </p>
          
          <h4>Education</h4>
          <p>
            <strong class="mr-2">2023</strong>MA in Design – Moholy-Nagy University of Art and Design, Budapest
          </p>
          <p>
            <strong class="mr-2">2021</strong>Foundation Diploma in Spatial and Industrial Design – Corvin Art School, Budapest
          </p>
          <p>
            <strong class="mr-2">2014</strong>BSc in Computer Engineering – Budapest University of Technology and Economics, Budapest
          </p>
        </div>
      </section>
      
    </div>
</div>
