---
layout: default_2 
---

<div class="main-content">
    {% include hero_area_project.html %}
    
    <h3 class="text-center mt-5 mb-3 pt-3">Curatorial Atelier For Collectible Light Objects</h3>
    <div class="container text-center mb-5 py-2">
        <p> 
            SIGNATURE OBJECTS brings together a curated group of designers working at the intersection of art, design, and architecture.
            <br/>
            Each piece is produced in limited editions or as one-of-a-kind works, conceived as objects of lasting presence and meaning.
        </p>
        <p>
            Defined by craftsmanship, material sensitivity, and technical integrity, the collection focuses on functional luxury: 
            <br/>
            light objects that shape atmosphere, carry narrative depth, and offer an alternative to the uniformity of contemporary interiors.
        </p>
    </div>  
    

    <h3 class="text-center mt-5 mb-3 pt-3">Recognition Across The Collection</h4>
    <div class="container mb-5 py-2">
        {% include as_seen_in.html %}
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <span class="h3 text-uppercase">
                    For Interior Designers
                </span>
                <h4 class="mt-2">Objects your clients will remember you for</h4>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="service-item mb-4 text-center px-4 py-5">
                    <i class="ti-ruler-pencil text-color icon-md"></i>
                    <h4 class="my-4">Curated, not catalogued</h4>
                    <p>A selection of collectible light objects that elevate your projects beyond standard specification.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item mb-4 text-center px-4 py-5">
                    <i class="ti-palette text-color icon-md"></i>
                    <h4 class="my-4">Unompromised Reliability</h4>
                    <p>Artistic pieces engineered for real-world technical, safety, and installation requirements.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 border-left-top">
                <div class="service-item mb-4 mb-lg-0 text-center px-4 py-5">
                    <i class="ti-announcement text-color icon-md"></i>
                    <h4 class="my-4">In the know</h4>
                    <p>Access work before it becomes widely known or saturated across projects and markets.</p>
                </div>
            </div>
        </div>

        <div class="row border-top">
            <div class="col-lg-4 col-md-6">
                <div class="service-item mb-4 mb-lg-0 text-center px-4 py-5">
                    <i class="ti-ruler-pencil text-color icon-md"></i>
                    <h4 class="my-4">A partner in crime</h4>
                    <p>From concept to installation, we support you with responsive, hands-on collaboration.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item mb-4 mb-lg-0 text-center px-4 py-5">
                    <i class="ti-palette text-color icon-md"></i>
                    <h4 class="my-4">Limited by design</h4>
                    <p>Small editions ensure your projects remain distinctive and hard to replicate.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 border-left">
                <div class="service-item mb-4 text-center px-4 py-5">
                    <i class="ti-announcement text-color icon-md"></i>
                    <h4 class="my-4">Designed to be specified</h4>
                    <p>Customizable in size, finish, and configuration to integrate seamlessly into your spatial concepts.</p>
                </div>
            </div>
        </div>
    </div>


    <h3 class="text-center my-5 pt-3" id="designers" style="margin-top: 2rem;">Designers</h3>
    <div class="container px-3">
        {% include designers.html %}
    </div>

    
    <h3 class="text-center mt-5 pt-5 mb-5">Heirloom-Quality Contemporary Art Objects</h3>
    {% include nft.html %}
    <h4 class="text-center mb-5 pb-5" style="margin-top: 2rem;">Limited Editions With Certified Authencity</h4>

    {% include contact_2.html %}
</div>