#works-page {
    
    padding: 120px 0px 20px 0px;

    .row {
        &:not(.card-even):not(.card-odd) {
            // IE. included row from template
            padding: 2rem;
        }
    }
    
    .edition-info {
        font-family: $button-font;
    }
    
}