<div class="row align-items-center mb-5">
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/elle_decoration.png" alt="Elle Decoration">
        <!-- https://elle.hu/decor/elle-decoration-2024-februar-marcius-tavaszi-szel (HU) -->
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/stockholm.png" alt="Stockholm Furniture Fair">
        <!-- Stockholm Furniture Fair 2024 (SWE) -->
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/dezeen.png" alt="Dezeen">
        <!-- https://www.dezeen.com/2025/01/08/moholy-nagy-design-student-projects-dezeen-schoolshows/ (UK/USA/CN) -->
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/berlin.png" alt="Berlin Design Week 2024">
        <!-- Berlin Design Week 2024 (DE) -->
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/octogon.png" alt="Octogon Architecture & Design">
        <!-- https://www.octogon.hu/design/wind-light-friss-diploma/ (HU) -->
        <!-- https://www.octogon.hu/mome-x-be-light/nagyszeru-hallgatoi-projektek-a-mome-x-be-light-kurzuson/ (HU) -->
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/artcraft.png" alt="9th Art-Craft-Design Auction">
        <!-- 9th Art Craft Design Auction -->
    </div>
    <!--
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/magyar_iparmuveszet.png" alt="Magyar Iparművészet">    
    </div>
    -->
    <!-- Hungarian Applied Arts Journal / Magyar Iparművészet 2023/5 (HU) -->
</div>