<div class="row align-items-center mb-5">
  <div class="col-4 col-md-2">
    <img class="logo-image img-fluid" src="/assets/images/logos/bosch.png" alt="Bosch">
  </div>
  <div class="col-4 col-md-2">
    <img class="logo-image img-fluid" src="/assets/images/logos/pohu.png" alt="Porsche Hungaria">
  </div>
  <div class="col-4 col-md-2">
    <img class="logo-image img-fluid" src="/assets/images/logos/house_of_music.png" alt="House of Music Hungary">
  </div>
  <div class="col-4 col-md-2">
    <img class="logo-image img-fluid" src="/assets/images/logos/ITU.png" alt="IT University of Copenhagen Media Art & Design">
  </div>
  <div class="col-4 col-md-2">
    <img class="logo-image img-fluid" src="/assets/images/logos/mmkm.png" alt="Museum of Transport Hungary">
  </div>
  <div class="col-4 col-md-2">
    <img class="logo-image img-fluid" src="/assets/images/logos/mosoly_alapitvany.png" alt="Smile Foundation">
  </div>
</div>