<div class="row align-items-center mb-2">
    <div class="col-4 col-md-2">
        <a href="/designers#designers-zsofi-zala">
            <div class="designer-tile">
                <img src="{{'/assets/images/collection/harm_less/harm_less_portrait_01.webp' | relative_url}}" alt="Zsófi Zala, designer">
            </div>
        </a>
    </div>
    <div class="col-4 col-md-2">
        <a href="/designers#designers-lumo-concept">
            <div class="designer-tile">
                <img src="{{'/assets/images/collection/lumo_concept/lumo_concept_portrait_01.jpg' | relative_url}}" alt="LumoConcept, designers">
            </div>
        </a>
    </div>
    <div class="col-4 col-md-2">
        <a href="/designers#designers-blanka-balazs">
            <div class="designer-tile">
                <img src="{{'/assets/images/collection/whatsit_studio/whatsitstudio_portrait_01_croptop.jpeg' | relative_url}}" alt="Blanka Timári and Balázs Kisgyörgy, designers">
            </div>
        </a>
    </div>
    <div class="col-4 col-md-2 my-2">
        <a href="/designers#designers-andras-kerekgyarto"></a>
            <div class="designer-tile">
                <img src="{{'/assets/images/collection/andras_kerekgyarto/andras_kerekgyarto_portrait_01.jpg' | relative_url}}" alt="András Kerékgyártó, designer">
            </div>
        </a>
    </div>
    <div class="col-4 col-md-2 my-2">
        <a href="/designers#designers-sali">
            <div class="designer-tile">
                <img src="{{'/assets/images/collection/david_salamon/david_salamon_portrait_01.jpg' | relative_url}}" alt="David Salamon, designer">
            </div>
        </a>
    </div>
    <div class="col-4 col-md-2 my-2">
        <a href="/designers#designers-ildi-sarkadi"> 
            <div class="designer-tile">
                <img src="{{'/assets/images/collection/lightcore/lightcore_ildi_sarkadi_portrait_01.jpg' | relative_url}}" alt="Ildi Sarkadi, designer">
            </div>
        </a>
    </div>
</div>