<div class="row align-items-center mb-2">
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="{{'/assets/images/collection/harm_less/harm_less_portrait_01.webp' | relative_url}}" alt="Zsófi Zala, designer">
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="{{'/assets/images/collection/lumo_concept/lumo_concept_portrait_01.jpg' | relative_url}}" alt="LumoConcept, designers">
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/dezeen.png" alt="Dezeen">
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/berlin.png" alt="Berlin Design Week 2024">
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/octogon.png" alt="Octogon Architecture & Design">
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/artcraft.png" alt="9th Art-Craft-Design Auction">
    </div>
    <!--
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="/assets/images/logos/magyar_iparmuveszet.png" alt="Magyar Iparművészet">    
    </div>
    -->
    <!-- Hungarian Applied Arts Journal / Magyar Iparművészet 2023/5 (HU) -->
</div>