<div class="row align-items-center mb-2">
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="{{'/assets/images/collection/harm_less/harm_less_portrait_01.webp' | relative_url}}" alt="Zsófi Zala, designer">
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="{{'/assets/images/collection/lumo_concept/lumo_concept_portrait_01.jpg' | relative_url}}" alt="LumoConcept, designers">
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="{{'/assets/images/collection/whatsit_studio/whatsitstudio_portrait_01.jpeg' | relative_url}}" alt="Blanka Timári and Balázs Kisgyörgy, designers">
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="{{'/assets/images/collection/andras_kerekgyarto/andras_kerekgyarto_portrait_01.jpg' | relative_url}}" alt="András Kerékgyártó, designer">
    </div>
    <div class="col-4 col-md-2">
        <img class="logo-image img-fluid" src="{{'/assets/images/collection/david_salamon/david_salamon_portrait_01.jpg' | relative_url}}" alt="David Salamon, designer">
    </div>
</div>