<!-- Footer section start -->
<footer class="bg-secondary position-relative pb-0">
	<div class="footer-btm ">
		<div class="container border-top py-4">
			<div class="row align-items-center justify-content-md-between">
				<div class="col-12 col-lg-5 mb-3 mb-md-0">
					<div class="text-center text-lg-left"> <span>{{ site.copyright }}</span></div>
				</div>
				<div class="col-lg-2 text-center col-12">
					<!--
					<a href="{{site.baseurl}}">
						<img src="{{'/assets/images/favicon/favicon-96x96.png' | relative_url}}" alt="{{site.title}}" class="img-fluid footer-logo">
					</a>
					-->
					<a href="https://www.instagram.com/david_salamon_art/" class="btn insta" target="_blank"">
						<div>
							<i class="fa fa-instagram" aria-hidden="true"></i>
							&thinsp;INSTAGRAM
						</div>
					</a>
				</div>
				<div class="col-lg-5 col-12 mt-3 mt-md-0">
					<div class="text-center text-lg-right">
						{% for menu in site.data.navigation.bottom %}
						<a href="{{menu.link | relative_url }}">{{menu.name}} {% unless forloop.last %} <span class="mx-2">|</span> {% endunless %}</a>
						{% endfor %}
						<span>Photos: Marcell Kürtösi, Dániel Ferenczi, Máté Horváth</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer End -->

<script src="{{site.google_map_api}}"></script>

<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>