<section class="banner banner-hero position-relative">
	<video autoplay muted loop>
		<source src="{{'/assets/images/portfolio/ltbl/LTBL.mp4' | relative_url}}" type="video/mp4">
	</video>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12">
				<div class="hero-heading">
					<span>Beyond Logic&thinsp;—&thinsp;</span>
					<span>Embrace Magic</span>
				</div>

				<div class="hero-subheading mt-2">
					<span>Lights for You to </span>
					<span>Amaze, Delight and Inspire</span>
				</div>
				<p class="my-4"></p>
				<a href="/works" class="btn btn-primary">Explore the Collection</a>
			</div>
		</div>
	</div>
</section>