// Color Variables
$white: #fff;
$black: #000;
$primary-color:#deb1a7;
$secondary-color:#231c1b;
$extra-color:#934ae4;
$border-color: #e5e5e5;
$black-light:#848485;
$yello:#ffc429;
$blue: #470FA8;
$heading-font:"Italiana", sans-serif;
$body-font:"Noto Serif", serif;
$button-font:"Nunito Sans", sans-serif;
